@charset "utf-8";
/* CSS Document */

body, html{ background:#f1f1f2 !important; }
body.login div#login h1 a {
	background-image: url(../../assets/images/login-logo.png);
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
	width:275px;
	height:150px;
}
.login form{
	box-shadow:0px 1px 3px rgba(0,0,0,0) !important;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0) !important;
	background-color:#fff;
	border-radius:8px;
	margin-bottom:18px;
}
.login .button-primary{
	width:100%;
}
.login form .forgetmenot{
	display:none;
}
.wp-core-ui .button-primary {
	background: #1d1d1d !important;
	border-color: #000000 #000000 #000000!important;
	-webkit-box-shadow: 0 1px 0 #000000!important;
	box-shadow: 0 1px 0 #000000!important;
	text-shadow: 0 -1px 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000 !important;
}
.login #backtoblog, .login #nav{
	margin: 0px 0px 12px 0px !important;
	text-align:center;
}
.login form .input, .login form input[type=checkbox], .login input[type=text]{
	padding:8px !important;
}